<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"className":"ec-container"} -->
<main class="wp-block-group ec-container" style="padding-top:3rem;padding-bottom:3rem">
  <!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"400"}}} /-->
  <!-- wp:separator {"className":"is-style-ec-thin-rule"} -->
  <hr class="wp-block-separator has-alpha-channel-opacity is-style-ec-thin-rule"/>
  <!-- /wp:separator -->
  <!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
